* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.home {
  height: 85vh;
}

.layout {

  .header {
    background: #343A40;
    color: white;

    .content {
      max-width: 1100px;
      margin: 0 auto;
      padding: 10px 0px;
      display: flex;
      align-items: center;

      .left {
        flex: 1;

        &:first-child {
          font-size: 25px;
        }

        .title {
          font-size: 20px;
          margin-left: 10px;
        }
      }

      .right {
        font-size: 20px;
        cursor: pointer;
      }

    }
  }
}